

body{
    background: ghostwhite;
}
::selection{
    color: crimson;
    background: darkcyan;
}

#twitter_project{
    background-color: antiquewhite;
    transition: background-color 1s ease-out 40ms;
}

#twitter_project:hover {
    background-color: rgb(223, 139, 202);
}

#cv{
    background-color: antiquewhite;
    transition: background-color 1s ease-out 40ms;
}

#cv:hover{
    background-color: rgb(223, 139, 202);
}

#automation{
    transition: background-color 1s ease-out 40ms;
}
#automation:hover {
    background-color: lightgrey;
}

#intro {
    padding-top: 0.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #2d2d2d;

}

#my_project{
    letter-spacing: 0.125em;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    padding-top: 0.5em;
    text-align: center;
    color: #2d2d2d;
    line-height: 1em;
}

#cv_heading {
    /*padding-top: 1.5em;*/
    line-height: 3em;
}

h2{
    
    text-align: center;
    font-family: sans-serif, Montserrat;
}

.profession{
    letter-spacing: 0.1em;
    line-height: 2em;
    font-family: 'Bebas Neue', cursive;
    color: #2d2d2d;
}

.twitter {
    /*color: #2d2d2d;*/
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
}

.web_automation {
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
}

.cv_gen{
    text-decoration: none;
}

.project_img{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 10px;
}

.project_heading {
    letter-spacing: 0.1em;
    font-size: larger;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #2d2d2d;
}

.paragraph {
    line-height: 120%;
    padding-bottom: 0.5em;
    padding-left: 25em;
    padding-right: 25em;
    text-align: center;
    /*text-anchor: middle;*/
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    color: #2d2d2d;
}

.github{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.twitter_logo{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
